<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :good_tasting %><br />
    <%= f.check_box :good_tasting %>
  </div>
  <div class="field">
    <%= f.label :drink_id %><br />
    <%= f.text_field :drink_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
